#Ignore everything except the save you want to reference (In this case it is the save associated with character JaDarius Quincy III)
*
!JaDarius Quincy III*
!JaDarius Quincy III*/*
!McGlockenBocker*
!McGlockenBocker*/*
!Vickerith of Ith*
!Vickerith of Ith*/*
!Plimbo*
!Plimbo*/*
!.gitignore
!.gitattributes
!README.md